
#title-photo {
    height: 75rem;
    background-image: url(../images/dustin-lee-19666.jpg);
    background-size: cover;
    padding-top: 40rem;

}
#title-text {
    height: 15rem;
    width: 55rem;
    text-align: center;
    padding-top: 5rem;
    
}
#title-text h1 {
    font-size: 600%;
    font-family: Oswald, serif;
    color: white;
    padding-bottom: 3rem;

}

#title-text h3 {
    font-size: 175%;
    font-family: Oswald, serif;
    width: 20rem;
    color: white;
    margin: 0 15rem;

}
#about {
    padding-top: 5rem;
    padding-bottom: 6rem;
    background-color: #202020;
    color: white;
    font-family: Oswald, serif;
}

#about-copy {

    margin-left: 3rem;
    height: 35rem;
    width: 55%

}

#about-copy h2 {
    font-size: 300%;

}

#about-copy p {
    border-top: white 3px solid;
    font-size: 130%;
    padding-top: 3rem;
    margin-left: 
}


#about-image {
    height: 35rem;
    padding-top: 3rem;
    margin-left: 20rem;
}

#about-headshot {
    background-image: url(../images/sam-headshot.JPG);
    width: 30rem;
    height: 30rem;
    display: block;
    background-size: cover;
    margin: 0 auto;
}

#skill-sets {
    height: 50rem;
    background-image: url(../images/pineapple-supply-co-142104.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Oswald, serif;
    color: white;
}

#skill-sets h3{
    font-size: 400%;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
}
#skill-sets p{
    font-size: 200%;
    padding: 3rem 3rem;
}


#skills ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    
}
#skills li {
    padding: 2rem;
    font-size: 275%;
}

#coursework ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    
}
#coursework li {
    padding: 2rem;
    font-size: 200%;
}

footer {
    height: 25rem;
    background-color: #202020;
}



